:root {
  --body-background: whitesmoke;
  --primary-background: #7a8255;
  --secondary-background: #56623e;
  --primary-font: "Open Sans", sans-serif;
  --header-color: #302910;
  --subheading-color: #b7a97e;
  --header-font: "Konstarica";
}
@font-face {
  font-family: "Konstarica";
  src: url(../fonts/Konstarica.ttf);
}
body {
  background-color: var(--body-background);
}
nav {
  max-width: 1600px;
  margin: 0 auto;
}

.navbar a {
  color: #b7a97e !important;
  font-size: 20px;
}
.navbar a:hover {
  color: #7d6342 !important;
  transition: ease-in-out 200ms;
  border-bottom: 1px solid #7d6342;
}
a.navbar-brand {
  font-size: 40px;
  margin-left: 20px;
}
.container {
  max-width: 1600px !important;
  margin: 0 auto;
  background-color: var(--primary-background);
  font-family: var(--primary-font);
  background-size: cover;
}
header {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  color: var(--header-color);
}
.logo {
  width: 200px;
}
header h1 {
  font-family: "Konstarica";
  color: var(--header-color);
  font-size: 80px;
}
header h2 {
  color: var(--subheading-color);
}

.hexGrid {
  --s: 15vw; /* size of a hexagon */
  --m: 0.5vw; /* space between each heaxgon */
  --r: calc(var(--s) * 3 * 1.1547 / 2 + 4 * var(--m));
  padding: 1vw 0vw 5vw 0vw;
  display: flex;
  justify-content: center;
  border: 2px solid #202e15;
}
.hexContainer div {
  width: var(--s);
  height: calc(var(--s) * 1.1547);
  margin: var(--m);
  display: inline-block;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);
}
.hexContainer::before {
  content: "";
  width: calc(var(--s) / 2 + var(--m));
  float: left;
  height: 100%;
  shape-outside: repeating-linear-gradient(
    transparent 0 calc(var(--r) - 3px),
    #fff 0 var(--r)
  );
}
.hex {
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 50%;
  filter: grayscale(100);
}
.hex:hover {
  opacity: 100%;
  filter: grayscale(0);
  transition: ease-in-out 300ms;
}
.hex.first {
  background-image: url(../images/diceset1.png);
}
.hex.second {
  background-image: url(../images/diceset3.png);
}
.hex.third {
  background-image: url(../images/diceset2.png);
}
.hex.fourth {
  background-image: url(../images/diceset4.png);
}
#header-button {
  width: 25%;
  color: #202e15;
  border-color: #202e15;
}
#header-button:hover {
  background-color: #202e15;
  color: var(--primary-background);
  border-color: var(--primary-background);
}
main {
  padding: 60px 10;
  text-align: center;
  display: block;
}
main h1 {
  font-family: "Konstarica";
  color: var(--header-color);
  font-size: 64px;
}
.carousel-container div {
  max-height: 500px;
}
footer {
  background-color: var(--secondary-background);
}
